SWLNGPT/App_WebReferences/SWADNETGPT/SWADNETGPT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SWADNETGPT" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55505/SWADNETGPT.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55505/SWADNETGPT.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55505/SWADNETGPT.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISWADNETGPT_Insertar_GUsuarioRol_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GUsuarioRol_I" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Insertar_GUsuarioRol_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GUsuarioRol_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GUsuarioRol_O_CodigoRol_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioRol_O_CodigoRol" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GUsuarioRol_O_CodigoRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioRol_O_CodigoRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GUsuarioRol_O_CodigoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioRol_O_CodigoUsuario" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GUsuarioRol_O_CodigoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioRol_O_CodigoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Actualizar_GUsuarioRol_A_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GUsuarioRol_A" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Actualizar_GUsuarioRol_A_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GUsuarioRol_AResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Insertar_GUsuarioProyecto_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GUsuarioProyecto_I" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Insertar_GUsuarioProyecto_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GUsuarioProyecto_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GUsuarioProyecto_O_CodigoProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioProyecto_O_CodigoProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GUsuarioProyecto_O_CodigoProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioProyecto_O_CodigoProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GUsuarioProyecto_O_CodigoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioProyecto_O_CodigoUsuario" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GUsuarioProyecto_O_CodigoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioProyecto_O_CodigoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Actualizar_GUsuarioProyecto_A_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GUsuarioProyecto_A" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Actualizar_GUsuarioProyecto_A_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GUsuarioProyecto_AResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Insertar_GProyecto_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GProyecto_I" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Insertar_GProyecto_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GProyecto_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GProyecto_O_Todo_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GProyecto_O_Todo" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GProyecto_O_Todo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GProyecto_O_TodoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GProyecto_O_CodigoProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GProyecto_O_CodigoProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GProyecto_O_CodigoProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GProyecto_O_CodigoProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Actualizar_GProyecto_A_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GProyecto_A" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Actualizar_GProyecto_A_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GProyecto_AResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Insertar_GEtapa_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GEtapa_I" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Insertar_GEtapa_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GEtapa_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GEtapa_O_CodigoProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GEtapa_O_CodigoProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GEtapa_O_CodigoProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GEtapa_O_CodigoProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GEtapa_O_SiguienteCodigoEtapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GEtapa_O_SiguienteCodigoEtapa" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GEtapa_O_SiguienteCodigoEtapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GEtapa_O_SiguienteCodigoEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GEtapa_O_CodigoProyecto_EstadoEtapaActivo_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GEtapa_O_CodigoProyecto_EstadoEtapaActivo" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GEtapa_O_CodigoProyecto_EstadoEtapaActivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GEtapa_O_CodigoProyecto_EstadoEtapaActivoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GEtapa_O_CodigoProyecto_NumeroEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Actualizar_GEtapa_A_EstadoEtapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GEtapa_A_EstadoEtapa" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Actualizar_GEtapa_A_EstadoEtapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GEtapa_A_EstadoEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Insertar_GSubEtapa_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GSubEtapa_I" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Insertar_GSubEtapa_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GSubEtapa_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GSubEtapa_O_CodigoEtapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GSubEtapa_O_CodigoEtapa" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GSubEtapa_O_CodigoEtapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GSubEtapa_O_CodigoEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GSubEtapa_O_SiguienteCodigoSubEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapaActivo_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapaActivo" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapaActivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapaActivoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Actualizar_GSubEtapa_A_EstadoSubEtapa_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GSubEtapa_A_EstadoSubEtapa" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Actualizar_GSubEtapa_A_EstadoSubEtapa_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GSubEtapa_A_EstadoSubEtapaResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Insertar_GObservacion_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GObservacion_I" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Insertar_GObservacion_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GObservacion_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GObservacion_O_CodigoProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GObservacion_O_CodigoProyecto" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GObservacion_O_CodigoProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GObservacion_O_CodigoProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GObservacion_O_CodigoObservacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GObservacion_O_CodigoObservacion" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GObservacion_O_CodigoObservacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GObservacion_O_CodigoObservacionResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Actualizar_GObservacion_A_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GObservacion_A" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Actualizar_GObservacion_A_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GObservacion_AResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Actualizar_GObservacion_A_EstadoObservacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GObservacion_A_EstadoObservacion" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Actualizar_GObservacion_A_EstadoObservacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GObservacion_A_EstadoObservacionResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GObsevacion_O_SiguienteCodigoObservacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GObsevacion_O_SiguienteCodigoObservacion" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GObsevacion_O_SiguienteCodigoObservacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GObsevacion_O_SiguienteCodigoObservacionResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Insertar_GUsuario_I_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GUsuario_I" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Insertar_GUsuario_I_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insertar_GUsuario_IResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GUsuario_O_CodigoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuario_O_CodigoUsuario" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GUsuario_O_CodigoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GUsuario_O_CodigoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Actualizar_GUsuario_A_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GUsuario_A" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Actualizar_GUsuario_A_OutputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar_GUsuario_AResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GRol_O_Todo_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GRol_O_Todo" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GRol_O_Todo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GRol_O_TodoResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GRol_O_CodigoRol_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GRol_O_CodigoRol" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_GRol_O_CodigoRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_GRol_O_CodigoRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_UsuarioNetvalle_O_CodigoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_UsuarioNetvalle_O_CodigoUsuario" />
  </wsdl:message>
  <wsdl:message name="ISWADNETGPT_Obtener_UsuarioNetvalle_O_CodigoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Obtener_UsuarioNetvalle_O_CodigoUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="ISWADNETGPT">
    <wsdl:operation name="Insertar_GUsuarioRol_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Insertar_GUsuarioRol_I" message="tns:ISWADNETGPT_Insertar_GUsuarioRol_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Insertar_GUsuarioRol_IResponse" message="tns:ISWADNETGPT_Insertar_GUsuarioRol_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol" message="tns:ISWADNETGPT_Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRolResponse" message="tns:ISWADNETGPT_Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioRol_O_CodigoRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioRol_O_CodigoRol" message="tns:ISWADNETGPT_Obtener_GUsuarioRol_O_CodigoRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioRol_O_CodigoRolResponse" message="tns:ISWADNETGPT_Obtener_GUsuarioRol_O_CodigoRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioRol_O_CodigoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioRol_O_CodigoUsuario" message="tns:ISWADNETGPT_Obtener_GUsuarioRol_O_CodigoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioRol_O_CodigoUsuarioResponse" message="tns:ISWADNETGPT_Obtener_GUsuarioRol_O_CodigoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol" message="tns:ISWADNETGPT_Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRolResponse" message="tns:ISWADNETGPT_Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GUsuarioRol_A">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Actualizar_GUsuarioRol_A" message="tns:ISWADNETGPT_Actualizar_GUsuarioRol_A_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Actualizar_GUsuarioRol_AResponse" message="tns:ISWADNETGPT_Actualizar_GUsuarioRol_A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_GUsuarioProyecto_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Insertar_GUsuarioProyecto_I" message="tns:ISWADNETGPT_Insertar_GUsuarioProyecto_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Insertar_GUsuarioProyecto_IResponse" message="tns:ISWADNETGPT_Insertar_GUsuarioProyecto_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto" message="tns:ISWADNETGPT_Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyectoResponse" message="tns:ISWADNETGPT_Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioProyecto_O_CodigoProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioProyecto_O_CodigoProyecto" message="tns:ISWADNETGPT_Obtener_GUsuarioProyecto_O_CodigoProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioProyecto_O_CodigoProyectoResponse" message="tns:ISWADNETGPT_Obtener_GUsuarioProyecto_O_CodigoProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioProyecto_O_CodigoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioProyecto_O_CodigoUsuario" message="tns:ISWADNETGPT_Obtener_GUsuarioProyecto_O_CodigoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioProyecto_O_CodigoUsuarioResponse" message="tns:ISWADNETGPT_Obtener_GUsuarioProyecto_O_CodigoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto" message="tns:ISWADNETGPT_Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyectoResponse" message="tns:ISWADNETGPT_Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GUsuarioProyecto_A">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Actualizar_GUsuarioProyecto_A" message="tns:ISWADNETGPT_Actualizar_GUsuarioProyecto_A_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Actualizar_GUsuarioProyecto_AResponse" message="tns:ISWADNETGPT_Actualizar_GUsuarioProyecto_A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_GProyecto_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Insertar_GProyecto_I" message="tns:ISWADNETGPT_Insertar_GProyecto_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Insertar_GProyecto_IResponse" message="tns:ISWADNETGPT_Insertar_GProyecto_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GProyecto_O_Todo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GProyecto_O_Todo" message="tns:ISWADNETGPT_Obtener_GProyecto_O_Todo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GProyecto_O_TodoResponse" message="tns:ISWADNETGPT_Obtener_GProyecto_O_Todo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GProyecto_O_CodigoProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GProyecto_O_CodigoProyecto" message="tns:ISWADNETGPT_Obtener_GProyecto_O_CodigoProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GProyecto_O_CodigoProyectoResponse" message="tns:ISWADNETGPT_Obtener_GProyecto_O_CodigoProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GProyecto_A">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Actualizar_GProyecto_A" message="tns:ISWADNETGPT_Actualizar_GProyecto_A_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Actualizar_GProyecto_AResponse" message="tns:ISWADNETGPT_Actualizar_GProyecto_A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_GEtapa_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Insertar_GEtapa_I" message="tns:ISWADNETGPT_Insertar_GEtapa_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Insertar_GEtapa_IResponse" message="tns:ISWADNETGPT_Insertar_GEtapa_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GEtapa_O_CodigoProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GEtapa_O_CodigoProyecto" message="tns:ISWADNETGPT_Obtener_GEtapa_O_CodigoProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GEtapa_O_CodigoProyectoResponse" message="tns:ISWADNETGPT_Obtener_GEtapa_O_CodigoProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GEtapa_O_SiguienteCodigoEtapa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GEtapa_O_SiguienteCodigoEtapa" message="tns:ISWADNETGPT_Obtener_GEtapa_O_SiguienteCodigoEtapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GEtapa_O_SiguienteCodigoEtapaResponse" message="tns:ISWADNETGPT_Obtener_GEtapa_O_SiguienteCodigoEtapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GEtapa_O_CodigoProyecto_EstadoEtapaActivo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GEtapa_O_CodigoProyecto_EstadoEtapaActivo" message="tns:ISWADNETGPT_Obtener_GEtapa_O_CodigoProyecto_EstadoEtapaActivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GEtapa_O_CodigoProyecto_EstadoEtapaActivoResponse" message="tns:ISWADNETGPT_Obtener_GEtapa_O_CodigoProyecto_EstadoEtapaActivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa" message="tns:ISWADNETGPT_Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GEtapa_O_CodigoProyecto_NumeroEtapaResponse" message="tns:ISWADNETGPT_Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GEtapa_A_EstadoEtapa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Actualizar_GEtapa_A_EstadoEtapa" message="tns:ISWADNETGPT_Actualizar_GEtapa_A_EstadoEtapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Actualizar_GEtapa_A_EstadoEtapaResponse" message="tns:ISWADNETGPT_Actualizar_GEtapa_A_EstadoEtapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_GSubEtapa_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Insertar_GSubEtapa_I" message="tns:ISWADNETGPT_Insertar_GSubEtapa_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Insertar_GSubEtapa_IResponse" message="tns:ISWADNETGPT_Insertar_GSubEtapa_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GSubEtapa_O_CodigoEtapa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GSubEtapa_O_CodigoEtapa" message="tns:ISWADNETGPT_Obtener_GSubEtapa_O_CodigoEtapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GSubEtapa_O_CodigoEtapaResponse" message="tns:ISWADNETGPT_Obtener_GSubEtapa_O_CodigoEtapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa" message="tns:ISWADNETGPT_Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GSubEtapa_O_SiguienteCodigoSubEtapaResponse" message="tns:ISWADNETGPT_Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapaActivo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapaActivo" message="tns:ISWADNETGPT_Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapaActivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapaActivoResponse" message="tns:ISWADNETGPT_Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapaActivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa" message="tns:ISWADNETGPT_Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapaResponse" message="tns:ISWADNETGPT_Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GSubEtapa_A_EstadoSubEtapa">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Actualizar_GSubEtapa_A_EstadoSubEtapa" message="tns:ISWADNETGPT_Actualizar_GSubEtapa_A_EstadoSubEtapa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Actualizar_GSubEtapa_A_EstadoSubEtapaResponse" message="tns:ISWADNETGPT_Actualizar_GSubEtapa_A_EstadoSubEtapa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_GObservacion_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Insertar_GObservacion_I" message="tns:ISWADNETGPT_Insertar_GObservacion_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Insertar_GObservacion_IResponse" message="tns:ISWADNETGPT_Insertar_GObservacion_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GObservacion_O_CodigoProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GObservacion_O_CodigoProyecto" message="tns:ISWADNETGPT_Obtener_GObservacion_O_CodigoProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GObservacion_O_CodigoProyectoResponse" message="tns:ISWADNETGPT_Obtener_GObservacion_O_CodigoProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GObservacion_O_CodigoObservacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GObservacion_O_CodigoObservacion" message="tns:ISWADNETGPT_Obtener_GObservacion_O_CodigoObservacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GObservacion_O_CodigoObservacionResponse" message="tns:ISWADNETGPT_Obtener_GObservacion_O_CodigoObservacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GObservacion_A">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Actualizar_GObservacion_A" message="tns:ISWADNETGPT_Actualizar_GObservacion_A_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Actualizar_GObservacion_AResponse" message="tns:ISWADNETGPT_Actualizar_GObservacion_A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GObservacion_A_EstadoObservacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Actualizar_GObservacion_A_EstadoObservacion" message="tns:ISWADNETGPT_Actualizar_GObservacion_A_EstadoObservacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Actualizar_GObservacion_A_EstadoObservacionResponse" message="tns:ISWADNETGPT_Actualizar_GObservacion_A_EstadoObservacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GObsevacion_O_SiguienteCodigoObservacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GObsevacion_O_SiguienteCodigoObservacion" message="tns:ISWADNETGPT_Obtener_GObsevacion_O_SiguienteCodigoObservacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GObsevacion_O_SiguienteCodigoObservacionResponse" message="tns:ISWADNETGPT_Obtener_GObsevacion_O_SiguienteCodigoObservacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar_GUsuario_I">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Insertar_GUsuario_I" message="tns:ISWADNETGPT_Insertar_GUsuario_I_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Insertar_GUsuario_IResponse" message="tns:ISWADNETGPT_Insertar_GUsuario_I_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuario_O_CodigoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GUsuario_O_CodigoUsuario" message="tns:ISWADNETGPT_Obtener_GUsuario_O_CodigoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GUsuario_O_CodigoUsuarioResponse" message="tns:ISWADNETGPT_Obtener_GUsuario_O_CodigoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GUsuario_A">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Actualizar_GUsuario_A" message="tns:ISWADNETGPT_Actualizar_GUsuario_A_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Actualizar_GUsuario_AResponse" message="tns:ISWADNETGPT_Actualizar_GUsuario_A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GRol_O_Todo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GRol_O_Todo" message="tns:ISWADNETGPT_Obtener_GRol_O_Todo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GRol_O_TodoResponse" message="tns:ISWADNETGPT_Obtener_GRol_O_Todo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_GRol_O_CodigoRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GRol_O_CodigoRol" message="tns:ISWADNETGPT_Obtener_GRol_O_CodigoRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_GRol_O_CodigoRolResponse" message="tns:ISWADNETGPT_Obtener_GRol_O_CodigoRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener_UsuarioNetvalle_O_CodigoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_UsuarioNetvalle_O_CodigoUsuario" message="tns:ISWADNETGPT_Obtener_UsuarioNetvalle_O_CodigoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISWADNETGPT/Obtener_UsuarioNetvalle_O_CodigoUsuarioResponse" message="tns:ISWADNETGPT_Obtener_UsuarioNetvalle_O_CodigoUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISWADNETGPT" type="tns:ISWADNETGPT">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insertar_GUsuarioRol_I">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Insertar_GUsuarioRol_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioRol_O_SiguienteCodigoUsuarioRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioRol_O_CodigoRol">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioRol_O_CodigoRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioRol_O_CodigoUsuario">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioRol_O_CodigoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioRol_O_CodigoUsuario_CodigoRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GUsuarioRol_A">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Actualizar_GUsuarioRol_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_GUsuarioProyecto_I">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Insertar_GUsuarioProyecto_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioProyecto_O_SiguienteCodigoUsuarioProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioProyecto_O_CodigoProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioProyecto_O_CodigoProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioProyecto_O_CodigoUsuario">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioProyecto_O_CodigoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GUsuarioProyecto_O_CodigoUsuario_CodigoProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GUsuarioProyecto_A">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Actualizar_GUsuarioProyecto_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_GProyecto_I">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Insertar_GProyecto_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GProyecto_O_Todo">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GProyecto_O_Todo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GProyecto_O_CodigoProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GProyecto_O_CodigoProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GProyecto_A">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Actualizar_GProyecto_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_GEtapa_I">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Insertar_GEtapa_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GEtapa_O_CodigoProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GEtapa_O_CodigoProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GEtapa_O_SiguienteCodigoEtapa">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GEtapa_O_SiguienteCodigoEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GEtapa_O_CodigoProyecto_EstadoEtapaActivo">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GEtapa_O_CodigoProyecto_EstadoEtapaActivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GEtapa_O_CodigoProyecto_NumeroEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GEtapa_A_EstadoEtapa">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Actualizar_GEtapa_A_EstadoEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_GSubEtapa_I">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Insertar_GSubEtapa_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GSubEtapa_O_CodigoEtapa">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GSubEtapa_O_CodigoEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GSubEtapa_O_SiguienteCodigoSubEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapaActivo">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GSubEtapa_O_CodigoEtapa_EstadoSubEtapaActivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GSubEtapa_O_CodigoEtapa_NumeroSubEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GSubEtapa_A_EstadoSubEtapa">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Actualizar_GSubEtapa_A_EstadoSubEtapa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_GObservacion_I">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Insertar_GObservacion_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GObservacion_O_CodigoProyecto">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GObservacion_O_CodigoProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GObservacion_O_CodigoObservacion">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GObservacion_O_CodigoObservacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GObservacion_A">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Actualizar_GObservacion_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GObservacion_A_EstadoObservacion">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Actualizar_GObservacion_A_EstadoObservacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GObsevacion_O_SiguienteCodigoObservacion">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GObsevacion_O_SiguienteCodigoObservacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar_GUsuario_I">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Insertar_GUsuario_I" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GUsuario_O_CodigoUsuario">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GUsuario_O_CodigoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar_GUsuario_A">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Actualizar_GUsuario_A" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GRol_O_Todo">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GRol_O_Todo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_GRol_O_CodigoRol">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_GRol_O_CodigoRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener_UsuarioNetvalle_O_CodigoUsuario">
      <soap:operation soapAction="http://tempuri.org/ISWADNETGPT/Obtener_UsuarioNetvalle_O_CodigoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SWADNETGPT">
    <wsdl:port name="BasicHttpBinding_ISWADNETGPT" binding="tns:BasicHttpBinding_ISWADNETGPT">
      <soap:address location="http://localhost:55505/SWADNETGPT.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>